@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
@import url('https://fonts.cdnfonts.com/css/zapfino');

body {
  min-height: 100vh;   
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Generelle HTML elementer */
a {
    text-decoration: none; /* Sørger for at links ikke har linjer under */
}
ul { 
    margin: 0;
    padding: 0;
    list-style-type: none; /* Så bliver Forside, Om mig osv ikke bullet points */
}

p { /* Almindelig tekst */
    font-size: 12px; 
    line-height: 2em;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
h2 {
    font-size:medium;
}

/* Generelle klasser */
.titel {
    color: #FFFFFF;
    background-color: #BA9E90;
    padding: 2vh;
    text-align: center;
}
.venstre {
    text-align: left;
}
.midte {
    text-align: center;
}
.hvid {
    color: #FFFFFF;
}
.lyseblå {
    color: #BDE0FE;
}
.mørkeblå {
    color: #001845;
}
.blå {
    color: #33415C;
}
.beige {
    color: #BA9E90;
}
.fed {
    font-weight: bold;
}

/* Footer og tabel til ikoner */
.footer {
    height: 100px;
    width: 100vw;
    object-fit: cover;
}
#footer ul {
    text-align: left;
    font-size: 12;
    line-height: 1.8;
}
#footer .venstre {
    position: absolute;
    left: 16px;
}
#footer .højre {
    position: absolute;
    right:1.5em;
    bottom:4em
}
#footer .logo {
    height: 50px;;
}

#tab {
    border-collapse:collapse;
    margin: 2em auto
}

#tab td{
  width:50px;
  text-align:center;
  padding:0 15px;
}

#tab td img {
    vertical-align:middle;
    width:5vw;
}

/* Billeder / images / tekstfelter */
.container {
    position: relative;
    text-align: center;
  }

.tekstblok {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.rund {
    border-radius: 50%;
    width: clamp(300px, 40%, 400px);
    height: auto;
    border: solid #BDE0FE;
}

/* Ting til "Mit arbejde" siden */
.callout {
    background-color: #BDE0FE;
}
.callout h1 {
    padding-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #33415C;
}
.callout p {
    padding: 0 3em;
    padding-bottom: 3em;
}
#beskrivelse {
    margin-top:60px;
    margin-bottom:60
}
#beskrivelse p {
    padding: 0 50;
}
#selvportræt {
    margin-top: 2em;
    border: solid #BA9E90;
}

#HvemErJeg {
    padding:2em;
}

#Arbejde p {
    padding: 0 3em;
}

#GrafiskDesign {
    background-color: #BDE0FE;
}
#GrafiskDesign h1{
    padding-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #33415C;
}
#GrafiskDesign p {
    padding: 0 3em;
    padding-bottom: 3em;
}


/* Knapper */
.knap {
    background-color: #BDE0FE;
    color: black;
    font-size: small;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

/* KONTAKTFORMULAR */
.kontaktformular {
    padding: 4em;
    font-weight: bold;
    color:#33415C;
}
input[type=text] ,textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 2em;
    resize: vertical;
}
input[type=submit] {
    cursor: pointer;
    background-color: #BA9E90;
    font-weight: bold;
    color: white;
    padding: 1em 3em;
    border: none;
    border-radius: 10px;
}
input[type=submit]:hover {
  background-color: #b3988a;
}


/* Responsivt media query design 768 som standard px*/ 
/* Sørger pt for at navigationsbaren er responsiv */
@media (min-width: 850px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width:fit-content;
        background-color: transparent;
        margin-top: 10px;
        margin-right: 15px;
         
    }
    .menu {
        display: inline-block;
    }
    .menu li{
        float: left;
        padding-left: 2.5vw;
    }
    .menu a:hover{
        background-color: transparent;
        color: #BDE0FE;
        transition: all 0.2s ease-out;

    }

    .burg{
        display: none;
    }
}


/* Scroll bar indstillinger jeg har lånt fra https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
/* Kan evt slettes hvis jeg vil tilbage til alm scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}